body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffbbf9;
    font-family: 'Times New Roman', serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #62b6ff;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
